fastapi[standard]
uvicorn[standard]==0.30.0
sqlalchemy==2.0.35
pydantic==2.9.0
sqlmodel>=0.0.22
dotenv
redis
resend
psycopg2
passlib[bcrypt]
python-jose[cryptography]
bcrypt<4.1.0
apscheduler
celery 
redis
twilio
requests
openai
